body {
  font-family: Arial, sans-serif;
  background-image: url('/public/k.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Set the minimum height of the body to 100% of the viewport height */
}

.container {
  max-width: 300px; /* Reduce the max-width as desired */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  background-color: #A78295;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh; /* Set the minimum height of the container to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
}

h1 {
  text-align: center;
  color: #331D2C;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #EFE1D1;
  color: #331D2C;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
  color: #331D2C;
}

/* Add media queries for responsiveness */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  body {
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-position: center; /* Center the background image on mobile */
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .quote {
    font-size: 18px;
  }
}
